.containerLogIn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: white;
}

.inputLog {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #3b3f3b;
    color: black;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
    font-family: sans-serif;
}

.input1 {
    width: 95%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    background-color: #f5f5f5;
    color: black;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
    align-items: center;
    display: flex;
    justify-content: center;
}

.input2 {
    width: 95%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    background-color: #f5f5f5;
    color: black;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.scris {
    text-align: center;
    font-size: 20px;
    margin-bottom: 20px;
    font-family: sans-serif;
}

.headerLog {
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;
}

.pagina {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 400px;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
}

.buttonLog {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #3b3f3b;
    color: white;
    font-size: 20px;
    cursor: pointer;
}

.butonFunctie {
    background-color: #3b3f3b;
}



